body{
    background-image: url('img/green_gobbler_@2X.png');
}
#film{
    text-align: center;
}
#hide{
    margin-top: 1rem;
}
#inputs{
    width: 50%;
    margin-top: 1rem;
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
#results{
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#results > div{
    margin: 1rem;

}
.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:black;
    opacity:0.6;
    z-index:2;
}
#info{
    position: fixed;
    top:2rem;
    left:2rem;
    width:calc(100vw - 4rem);
    height: calc(100vh   - 4rem);
    background-color: white;
    opacity:1;
    z-index:3;
}


@media screen and (max-width: 800px) {
    #inputs, #results {
        width: 75%;
    }
}